{% extends "truck/layout.html" %}
{% load static %}

{% block script %}
<script src="{% static 'truck/raport.js' %}"></script>
{% endblock %}
{% block body %}

<div id="raport_body">

{% if error %}
{{ error }}
{% else %}
<div id="raport">
  <b>
  Raport for {{ period }}, {{ year }} -

  {% if speditions|length > 1 %}
    {{ speditions }}
  {% else %}
    {% for spedition in speditions %} - {{ spedition }} {% endfor %}

  {% endif %}
  <br>
  <br>
  Average per truck: {{ avg_km }}km; {{ avg_freight }} €;  {{ avg_rate }} €/km
  </b>
</div>


<table id="raport_table" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Truck</th>
        <th scope="col">KM</th>
        <th scope="col">Freight €</th>
        <th scope="col">Rate €/km</th>
      </tr>
    </thead>
    <tbody>
        {% for truck in raport %}
        <tr>
            <td>{{ truck.name  }}</td>
            <td>{{ truck.km  }}</td>
            <td>{{ truck.freight  }}</td>
            <td>{{ truck.rate }}</td>
        </tr>
{% endfor %}
{% endif %}
</div>
{% endblock %}