{% extends "truck/layout.html" %}
{% load static %}
{% block script %}
<script src="{% static 'truck/speditions.js' %}"></script>
{% endblock %}


{% block body %}

<br>
{% if error %}
<br><br>{{ error }}<br><br>
{% endif %}

<form action="{% url 'speditions' %}" method="post">
  {% csrf_token %}
  {{ add.Name }}
  <button type="submit" class="btn btn-success">Add</button>
  </form>
{% for spedition in speditions %}

<ul>{{ spedition }}
  
  <form action="{% url 'edit_spedition' spedition.id %}" method="post">
    {% csrf_token %}
    {{ form.New_name }}
  <input class="btn btn-success" type="submit" value="Change">
  </form>
  <input class="btn btn-success" data-id="{{ spedition.id }}"  id="delete" type="button" value="Delete">
  <div data-id="{{ spedition.id }}" style="display: none">
    <form action="{% url 'delete_spedition' spedition.id %}" method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="Confirm">
    </form></div> </ul>
{% endfor %}



{% endblock %}