{% extends "truck/layout.html" %}
{% load static %}

{% block script %}
<script src="{% static 'truck/truck.js' %}"></script>
{% endblock %}

{% block body %}

<div id="trucks_body">

  <div id="truck_name">
    {{ truck.name }}
  </div>
<div id="all">
  <div id="truck_forms">
  {{ edit.New_name }} <input class="btn btn-success" data-id="{{ truck.id }}" id="change_truck" type="submit" value="Change Name">
  <br>

  {{ Default_rate.Default_rate }} <input class="btn btn-success" id="change_rate" type="submit" value="Change Default Rate">
  <br>
  <input class="btn btn-danger" id="delete_truck" type="button" value="Delete truck">

</div>

    <div id="confirmation" style="display: none">
      Are you sure you want to delete?
    <form action="{% url 'delete_truck' truck.id %}" method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="Confirm">
    </form>
    </div>




<div id="stats">
Current week: {{ week.km }} km; {{ week.freight }} €; {{ week.rate }} €/km
<br>
Current month: {{ month.km }} km; {{ month.freight }} €;  {{ month.rate }} €/km
<br><br>
Previous week: {{ prev_week.km }} km; {{ prev_week.freight }} €; {{ prev_week.rate }} €/km
<br>
Previous month: {{ prev_month.km }} km; {{ prev_month.freight }} €; {{ prev_month.rate }} €/km
</div>
</div>


<br>
<div id="add_tour_form">
<form action="{% url 'truck_view' truck.id %}" method="post">
    {% csrf_token %}
    {{ Tour.Date }} {{ Tour.Km }} {{ Tour.Freight }} {{ Tour.Rate }}
    <select name="spedition">
      {% for spedition in speditions %}
        <option value="{{ spedition.id }}">{{ spedition }}</option>
        {% endfor %}
    </select> 
<input class="btn btn-success" id="add_tour" type="submit" value="Add tour">
</form>
</div>

<div id="edit_tour_form">
  <form action="{% url 'edit_tour' %}" method="post">
      {% csrf_token %}
      {{ Tour.Date }} {{ Tour.Km }} {{ Tour.Freight }} {{ Tour.Rate }}
      <select name="spedition" id="spedition">
        {% for spedition in speditions %}
          <option value="{{ spedition.id }}">{{ spedition }}</option>
          {% endfor %}
      </select> 
      <div style="display: none">
      {{ Tour.Id }}
    </div>
  <input class="btn btn-success" id="edit_tour" type="submit" value="Save changes">  <input class="btn btn-success" id="cancel" type="button" value="Cancel">
  </form>

  </div>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Km</th>
        <th scope="col">Freight €</th>
        <th scope="col">Rate €/km</th>
        <th scope="col">Spedition</th>
        <th scope="col">Action</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for tour in tours %}
      <tr data-id="{{ tour.id }}">
        <td>{{ tour.date }}</td>
        <td>{{ tour.km }}</td>
        <td>{{ tour.freight }}</td>
        <td>{{ tour.rate }}</td>
        <td>{{ tour.spedition }}</td>
        <td> <button type="button" id="edit" data-id="{{ tour.id }}" class="btn btn-warning">Edit</button> 
          <button type="button" id="delete" data-id="{{ tour.id }}" class="btn btn-warning">Delete</button> 
        </td><td style="width: 100px;">
            <div id="confirm_delete" data-id="{{ tour.id }}">
                <form action="{% url 'delete_tour' tour.id %}" method="post">
                    {% csrf_token %}
            <button type="submit" id="confirm" data-id="{{ tour.id }}" class="btn btn-danger">Confirm</button>
            </form>
        </div>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>



  <nav aria-label="Page navigation example" style="padding: 50px;">


    <ul class="pagination justify-content-center">


        {% if tours.has_previous %}
        
          <li class="page-item"><a class="page-link" href="?page=1">1<<<</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ tours.previous_page_number }}">{{ tours.previous_page_number }}<</a></li>

        {% endif %}
          <li class="page-item"><a class="page-link">{{ tours.number }}</a></li>
        {% if tours.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ tours.next_page_number }}">>{{ tours.next_page_number }}</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ tours.paginator.num_pages }}">>>>{{ tours.paginator.num_pages }}</a></li>
    {% endif %}


</ul>
</nav>
</div>
{% endblock %}